<html>
<head>
<link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="content">
    <div class="header">
      <h1>Solidus extension compatibility</h1>
      <p>
        These extensions are maintained by solidus core team and community. They can be found in the
        <a href="https://github.com/solidusio">solidusio</a>
        and
        <a href="https://github.com/solidusio-contrib">solidusio-contrib</a>
        github organizations.
        These gems regularly have their tests re-run to ensure everything remains compatible.
      </p>
      <p>
        You might also want to check out <a href="http://soliton.nebulab.it/">Soliton</a>, a solidus extension search coutesy of <a href="http://nebulab.it/">Nebulab</a>.
      </p>
      <p>
        One of the goals of Solidus is to have a single extension versions work across several versions of solidus. This is how we're doing:
      </p>
    </div>

    <label for="showOld">Show older versions</label>
    <input type="checkbox" id="showOld" />

    <table class="statuses">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <% VERSIONS.each do |version| %>
            <th class="version <%= "hide-old" if OLD_VERSIONS.include?(version) %>">
              Solidus <%= version %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% CIRCLECI_PROJECTS.each do |project| %>
          <% branches = project.branches %>
          <% branches.each_with_index do |branch, i| %>
            <tr>
              <% if i == 0 %>
                <th class="name" rowspan="<%= branches.size %>">
                  <a href="<%= project.github_url %>"><%= project.repo %></a>
                </th>
              <% end %>
              <td><%= branch.name %></td>
              <% VERSIONS.each do |version| %>
                <%
                  workflow = branch.last_workflow
                  steps = workflow.steps_for(solidus_version: version)
                  classes = ["status"]
                  classes << "hide-old" if OLD_VERSIONS.include?(version)
                  classes = classes.join(" ")

                  started_at = steps.map(&:started_at).min
                  finished_at = steps.map(&:finished_at).max
                %>
                <% if steps.none? %>
                  <td class="<%= classes %> unsupported"></td>
                <% elsif steps.any?(&:pending?) %>
                  <td class="<%= classes %> pending" title="started building at <%= started_at %>"><a href="<%= workflow.url %>">pending</a></td>
                <% elsif steps.all?(&:passed?) %>
                  <td class="<%= classes %> success" title="passed at <%= finished_at %>"><a href="<%= workflow.url %>">passed</a></td>
                <% else %>
                  <td class="<%= classes %> failed" title="failed at <%= finished_at %>"><a href="<%= workflow.url %>">failed</a></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <footer>
    Last updated <%= Time.now.utc.to_s %>
  </footer>
</body>
</html>
